.row{
    padding: 15px;
    border-radius: 50px;
}
div{
    background-color: rgba(30, 27, 167, 0.247);
    text-align: center;
    color: white;
}

/* etiqueta fotoperfil */
    @media (min-width:576px) {
#fotoperfil{
    position: absolute;
    width: 180px;
    border-radius: 80%;
    box-shadow: 3px 3px gray;
    left: 40px;;
    top: 400px;
}
}

@media (max-width:575px) {
    #fotoperfil{
        position: absolute;
        width: 200px;
        border-radius: 80%;
        box-shadow: 3px 3px gray;
        left:145px;
        top: 650px;
    }
    }
    


/* etiqueta de nombre */
#nombre{
    font-weight: bold;
    margin-top: 28%;
    
}

