.row{
    background-color: rgba(30, 27, 167, 0.247);
    padding: 15px;
    border-radius: 50px;
    color: white;
    

}

.contenedor{
    width: auto;
    
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;

    
}

.img-proyecto{
  box-shadow: 15px 10px 30px black;  
  box-shadow: ejeX ejeY difumasion color;
}