.row{
    background-color: rgb(7, 112, 160);
    padding: 20px;
    /* border-radius: 50px; */
    color: white;
    

}

.contenedor{
    width: auto;
    
}

.parte1, .parte2{
    display:inline-block;
    text-align: justify;
    
}

.img-proyecto{
  box-shadow: 15px 10px 30px black;  
  box-shadow: ejeX ejeY difumasion color;
}